.banner {
    background-image: url(/images/Banner\ Image.png);
    width: 1320px;
    height: 600px;
    margin-bottom:60px;
    background-size:cover;
    border-radius: 15px;
    background-repeat: no-repeat;
    border-radius: 16px;
    opacity:60%;
}
div .greeting{
    color: #FFF;
    text-align: center;
    font-family: sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
div h1{
    color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px; /* 131.944% */
}
main .discount{
color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
main p{
 color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
main .all{
color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
section img{
width: 802.9px;
height: 500px;
flex-shrink: 0;
display:block;
margin:auto;
}
