.banner {
    background-image: url(/images/Banner\ Image.png);
    width: 1320px;
    height: 600px;
    margin-bottom:60px;
    background-size:cover;
    border-radius: 15px;
    background-repeat: no-repeat;
    border-radius: 16px;
    opacity:60%;
}
.banner div{
    padding:5px;
}
div .greeting{
    color: #FFF;
    text-align: center;
    font-family: sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
div h1{
    color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px; /* 131.944% */
}
main .discount{
color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
main p{
 color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
main .all{
color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
section img{
width: 802.9px;
height: 500px;
flex-shrink: 0;
display:block;
margin:auto;
}
.party{
    background-image: url(/images/Vectorrr.png);
    width: 1320px;
    height: 600px;
    margin-bottom:60px;
    background-repeat: no-repeat;
    margin-top:50px;  
    opacity: 70%;
}
div .midnight{
width: 600px;
color: #FFF;
font-size: 64px;
font-weight: 900;
line-height: 80px;
letter-spacing: 7.04px;
font-weight: bolder;
text-align: left;
margin-bottom: 10px ;
margin-left:20px
}
div .dance{
text-align: left;
color: rgba(255, 255, 255, 0.80);
font-size: 18px;
font-style: normal;
font-weight: 400;
margin-left:20px;
/* line-height: 30px; 166.667% */
}
button{
    background-color:red;
    color:white;
    margin-left: 15px;
}
button:hover{
    background-color: aquamarine;
    color:black;
}
div img{
width: 141.641px;
height: 141.641px;
transform: rotate(-45deg)
opacity: 100%;
display: block;
}
.location{
width: 1320px;
height: 420px;
background-color: hsla(0, 100%, 90%, 0.3);;
}
.content{
color: #070211;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px;
text-transform: capitalize;
text-align: center;
margin-top:40px;
padding: 100px;
}
.content span{
color: #F00;
text-align: center;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px; /* 175% */
text-transform: capitalize;
}
.join{
display: inline-flex;
padding: 16px 32px;
justify-content: center;
align-items: center;
gap: 10px;
margin-top:20px;
}